{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
	<main class="content">
		<div class="container-fluid p-0">

			<div class="row mb-2 mb-xl-3">
				<div class="col-auto d-none d-sm-block">
					<h3>Dashboard</h3>
				</div>

				<div class="col-auto ms-auto text-end mt-n1">
					<a class="btn btn-success" href="/tracking">Add New Entry</a>
					<a class="btn btn-primary shadow-sm" href="/">
						<i class="align-middle" data-feather="refresh-cw">&nbsp;</i>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-xxl d-flex">
					<div class="card flex-fill">
						<div class="card-body py-4">
							<div class="d-flex align-items-start">
								<div class="flex-grow-1">
									<h3 style="text-align:left; float:left;" class="mb-2">Calories</h3>
									<h3 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">1,300<!--{{ goals.calories }}--></h3>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progO" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingC"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Remaining</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-xxl d-flex">
					<div class="card flex-fill">
						<div class="card-body py-4">
							<div class="d-flex align-items-start">
								<div class="flex-grow-1">
									<h3 style="text-align:left; float:left;" class="mb-2">Carbs</h3>
									<h3 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">{{ goals.carbs }}g</h3>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progC" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingC"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Remaining</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-xxl d-flex">
					<div class="card flex-fill">
						<div class="card-body py-4">
							<div class="d-flex align-items-start">
								<div class="flex-grow-1">
									<h3 style="text-align:left; float:left;" class="mb-2">Protein</h3>
									<h3 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">{{ goals.protein }}g</h3>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progP" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingP"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Remaining</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-xxl d-flex">
					<div class="card flex-fill">
						<div class="card-body py-4">
							<div class="d-flex align-items-start">
								<div class="flex-grow-1">
									<h3 style="text-align:left; float:left;" class="mb-2" id="macro-c">Fats</h3>
									<h3 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">{{ goals.fats }}g</h3>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progF" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingF"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Remaining</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-lg-8 d-flex">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Weight</h5>
						</div>
						<div class="card-body d-flex w-100">
							<div class="align-self-center chart chart-lg">
								<canvas id="chartjs-dashboard-bar"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-4 d-none d-xl-flex">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Average Volume by Workout</h5>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs">
										<canvas id="chartjs-dashboard-pie"></canvas>
									</div>
								</div>
								<table id="volume-pie" class="table mb-0">
									<thead>
										<tr>
											<th>Workout</th>
											<th class="text-end">Volume</th>
										</tr>
									</thead>
									<tbody>
										{% for sum in sums %}
										<tr>
											<td>{{sum["name"]}}</td>
											<td class="text-end">{{sum["average_volume"]}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card flex-fill">
				<div class="card-header">
					<div class="card-actions float-end">
						<div class="dropdown show">
							<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
								<i class="align-middle" data-feather="more-horizontal"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0">Latest Workouts</h5>
				</div>
				<table id="datatables-dashboard-projects" class="table table-striped my-0">
					<thead>
						<tr>
							<th>Name</th>
							<th class="sorting_desc" aria-sort="descending">Date</th>
							<th>Duration</th>
							<th>Exercises</th>
							<th>Volume</th>
							<th>Calories</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						{% if data %}
							<tr>
								<td>{{row["name"]}}</td>
								<td class="d-none d-xl-table-cell">{{row["log_date"]}}</td>
								<td class="d-none d-xl-table-cell">{{row["duration"]}}</td>
								<td class="d-none d-md-table-cell">{{row["exercises"]}}</td>
								<td class="d-none d-md-table-cell">{{row["volume"]}}</td>
								<td class="d-none d-md-table-cell">{{row["calories"]}}</td>
								<td class="d-none d-md-table-cell">Edit</td>
							</tr>
						{% else %}
							{% for workout in workouts %}
							<tr>
								<td></td>
								<td class="d-none d-xl-table-cell"></td>
								<td class="d-none d-xl-table-cell"></td>
								<td class="d-none d-md-table-cell"></td>
								<td class="d-none d-md-table-cell"></td>
								<td class="d-none d-md-table-cell"></td>
								<td class="d-none d-md-table-cell">Edit</td>
							</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
{% block js %}
	<script>
		//Bar and pie charts for dashboard
		document.addEventListener("DOMContentLoaded", function() {
			// Bar chart
			new Chart(document.getElementById("chartjs-dashboard-bar"), {
				type: "bar",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "Last year",
						backgroundColor: window.theme.primary,
						borderColor: window.theme.primary,
						hoverBackgroundColor: window.theme.primary,
						hoverBorderColor: window.theme.primary,
						data: [168, 168, 170, 152, 145, 165, 143, 155, 165, 164, 170, 168],
						barPercentage: .325,
						categoryPercentage: .5
					}]
				},
				options: {
					maintainAspectRatio: false,
					cornerRadius: 15,
					legend: {
						display: false
					},
					scales: {
						yAxes: [{
							gridLines: {
								display: false
							},
							stacked: false,
							ticks: {
								stepSize: 20
							},
							stacked: true,
						}],
						xAxes: [{
							stacked: false,
							gridLines: {
								color: "transparent"
							},
							stacked: true,
						}]
					}
				}
			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			
			function progress(progress) {
				if (progress < 60) {
					return 'bg-danger';
				} else if (progress < 80) {
					return 'bg-warning';
				} else {
					return 'bg-success';
				}
			};

			var progressC = ({{ goals.carbs }} - {{ macros.carbs}}) / {{ goals.carbs }};
			progressC = Math.round(progressC * 100);
			if (progressC < 0) {
				progressC = 100;
			}
			$('.progC').attr('style', 'width: ' + progressC + '%');
			$('.progC').attr('aria-valuenow', progressC);
			$('.remainingC').text({{ goals.carbs }} - {{ macros.carbs }});
			var x = progress(progressC);
			$('.progC').addClass(x);

			var progressP = ({{ goals.protein }} - {{ macros.protein}}) / {{ goals.protein }};
			progressP = Math.round(progressP * 100);
			if (progressP < 0) {
				progressP = 100;
			}
			$('.progP').attr('style', 'width: ' + progressP + '%');
			$('.progP').attr('aria-valuenow', progressP);
			$('.remainingP').text({{ goals.protein }} - {{ macros.protein }});
			var y = progress(progressP);
			$('.progP').addClass(y);

			var progressF = ({{ goals.fats }} - {{ macros.fats}}) / {{ goals.fats }};
			progressF = Math.round(progressF * 100);
			if (progressF < 0) {
				progressF = 100;
			}
			$('.progF').attr('style', 'width: ' + progressF + '%');
			$('.progF').attr('aria-valuenow', progressF);
			$('.remainingF').text({{ goals.fats }} - {{ macros.fats }});
			var z = progress(progressF);
			$('.progF').addClass(z);

		});
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var table = document.getElementById("volume-pie")
			var tableArr = [];
			var tableLab = [];
			//loop all rows and form data array
			for ( var i = 1; i < table.rows.length; i++) {
				tableArr.push([
					table.rows[i].cells[1].innerHTML,
				]);
			tableLab.push(table.rows[i].cells[0].innerHTML)
			}
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: "pie",
				data: {
					labels: tableLab,
					datasets: [{
						data: tableArr,
						backgroundColor: [
							window.theme.primary,
							window.theme.warning,
							window.theme.danger,
							"#E8EAED"
						],
						borderWidth: 5,
						borderColor: window.theme.white
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					cutoutPercentage: 70,
					legend: {
						display: false
					}
				}
			});
		});
	</script>
{% endblock %}