{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
	<main class="content">
		<div class="container-fluid p-0">
			
			<div class="row mb-2 mb-xl-3">
				<div class="col-auto d-none d-sm-block">
					<h3>Dashboard <a href="/"><span>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle me-2"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
					</span></a></h3>
					<h6>Last Refresh: <span id="lastRefresh">{{ lastRefresh }}</span> </h6>
				</div>
			</div>
			<!--Header row-->
			<div class="row">
				<!--If goals have been created and store in DB-->
				<div class="col-12 col-sm-12 col-xxl d-flex">
					<div class="card flex-fill">
						
						<div class="modal fade" id="new-workout" tabindex="-1" style="display: none;" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">New Workout</h5>
										<button type="submit" class="btn btn-primary" name="workouts">Save</button>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form action="/tracking" method="POST">
											<div class="mb-2">
												<label class="form-label">Name</label>
												<input type="text" name="name" class="form-control" placeholder="Name" autocomplete="off">
											</div>
											<div class="col-md">
												<label class="form-label">Workout Type</label>
												<select class="form-control col-md" name="saved" id="saved">
													<option selected>Activity</option>
												{% for activity in activities %}
													<option>{{ activity.name }}</option>
												{% endfor %}	
													<option disabled="disabled">----</option>
													<option>create new workout type</option>
												</select>
											</div>
											<hr>
											<div class="mb-2">
												<label class="form-label">Date</label>
												<input type="date" name="log_date" id="log_date" class="form-control" placeholder="Date">
											</div>
											<div class="mb-2">
												<label class="form-label">Duration (min)</label>
												<input type="text" name="duration" class="form-control" placeholder="Duration" autocomplete="off">
											</div>
											<div class="mb-2">
												<label class="form-label">Exercises</label>
												<input type="text" name="exercises" class="form-control" placeholder="Exercises" autocomplete="off">
											</div>
											<div class="mb-2">
												<label class="form-label">Volume (lbs)</label>
												<input type="text" name="volume" class="form-control" placeholder="Volume" autocomplete="off">
											</div>
											<div class="mb-2">
												<label class="form-label">Calories</label>
												<input type="text" name="calories" class="form-control" placeholder="Calories" autocomplete="off">
											</div>
											<p>
											<div class="modal-footer">
												<button type="submit" class="btn btn-primary" name="workouts">Save</button>
												<button type="submit" class="btn btn-success" name="workouts">Save and Close</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade" id="new-weight" tabindex="-1" style="display: none;" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Enter New Weight</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form action="/tracking" method="POST">
											<div class="mb-2">
												<label class="form-label">Date</label>
												<input type="date" name="log-date" class="form-control" placeholder="Date">
											</div>
											<div class="mb-2">
												<label class="form-label">Weight (lbs)</label>
												<input type="text" name="weight" class="form-control" placeholder="Weight">
											</div>
											<div class="modal-footer">
												<button class="btn btn-success" name="health">Save</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade" id="centeredModalSuccess" tabindex="-1" style="display: none;" aria-hidden="true">
							<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Nutrient Goals</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body m-1">
										<form action="/tracking" method="POST">
											<div class="form-floating mb-3">
												<input type="number" pattern="[0-9]*" name="calories" class="form-control" placeholder="Calories" id="calories" autocomplete="off">
												<label for="calories">Calories</label>
											</div>
											<hr>
											<div class="form mb-3">
												<input type="range" class="form-range" min="0" max="100" step="5" id="rngCarb" oninput="updateCarbInput(this.value);" value="50" name="carbPerc">
												<label for="rngCarb" class="form-label">Carbs / <span id="carbPerc">50</span>% / <span id="carbGrams" >0</span>g</label>
											</div>
											<div class="form mb-3">
												<input type="range" class="form-range" min="0" max="100" step="5" id="rngProtein" oninput="updateProteinInput(this.value);" value="50" name="proteinPerc">
												<label for="rngProtein" class="form-label">Protein / <span id="proteinPerc">50</span>% / <span id="proteinGrams">0</span>g</label>
											</div>
											<div class="form mb-3">
												<input type="range" class="form-range" min="0" max="100" step="5" id="rngFat" oninput="updateFatInput(this.value);" value="50" name="fatPerc">
												<label for="rngFat" class="form-label">Fats / <span id="fatPerc">50</span>% / <span id="fatGrams" name="fatGrams">0</span>g</label>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-success" name="goal" id="submitGoal" disabled="true">Save changes</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>


						<div class="card-body py-4">
							<div class="d-flex align-items-start">
								<div class="flex-grow-1">
									<h3 style="text-align:left; float:left;" class="mb-2">Calories</h3>
									<h3 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">{{ goals.calories }}</h3>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progO" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingO"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Remaining</span>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-4 col-sm-4">
									<h5 style="text-align:left; float:left;" class="mb-2">Carbs</h5>
									<h5 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">{{ goals.carbs }}g</h5>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progC" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingC"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Left</span>
									</div>
								</div>
								<div class="col-4 col-sm-4">
									<h5 style="text-align:left; float:left;" class="mb-2">Protein</h5>
									<h5 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">{{ goals.protein }}g</h5>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progP" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingP"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Left</span>
									</div>
								</div>
								<div class="col-4 col-sm-4">
									<h5 style="text-align:left; float:left;" class="mb-2" id="macro-c">Fats</h5>
									<h5 id="goalCarbs" class="mb-2" style="text-align:right; float:right;">{{ goals.fats }}g</h5>
									<hr style="clear:both;">						
									<div class="progress">
										<div class="progress-bar progF" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<div class="mb-0" style="text-align:right; float:right; padding-top:5px;">
										<span class="badge badge-soft-warning me-2 remainingF"> <i class="mdi mdi-arrow-bottom-right"></i>0</span>
										<span class="text-muted">Left</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Weight and food log row-->
			<div class="row">
				<!--Food log-->
				<div class="col-12 col-lg-3 d-none d-xl-flex">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Food Log</h5>
						</div>
						<div class="card-body d-flex">
							<h5>Food Log</h5>



							
						</div>
					</div>
				</div>
				<!--Weight chart-->
				<div class="col-12 col-lg-9 d-flex">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<button class="btn btn-outline-primary disabled" id="chart-weight">Weight</button>
							<button class="btn btn-primary" id="chart-exercises">Exercises</button>
						</div>
						<div class="card-body d-flex w-100">
							<div class="align-self-center chart chart-lg">
								<canvas id="chartjs-line"></canvas>
							</div>
						</div>
					</div>
				</div>
				
			</div>


			<!--Workouts row-->
			<div class="row">
				<div class="col-12 col-xl-9">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title mb-0">Latest Workouts</h5>
						</div>

						<table class="table table-striped table-sm" id="datatables-dashboard-projects">
							<thead>
								<tr>
									<th class="sorting_desc" aria-sort="descending" style="width:15%;">Date</th>
									<th style="width:15%;">Name</th>
									<th style="display:none;">Id</th>
									<th style="width:15%;">Type</th>
									<th style="width:15%;">Duration</th>
									<th style="width:10%;">Exercises</th>
									<th style="width:12.5%;">Volume</th>
									<th style="width:12.5%;">Calories</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if workouts %}
									{% for workout in workouts %}
									<tr>
										<td class="d-none d-xl-table-cell">{{ workout.log_date }}</td>
										<td style="display:none;" id="{{workout.id}}">{{ workout.id }}</td>
										<td class="d-none d-xl-table-cell">{{ workout.name }}</td>
										<td class="d-none d-xl-table-cell">{{ workout.saved_workout }}</td>
										<td class="d-none d-xl-table-cell">{{ workout.duration }} min</td>
										<td class="d-none d-md-table-cell">{{ workout.exercises }} exercises</td>
										<td class="d-none d-md-table-cell volume">{{ workout.volume }}</td>
										<td class="d-none d-md-table-cell">{{ workout.calories }} cals</td>
										<td class="table-action">
											<a onclick="editWorkout({{workout.id}}); return false" id="edit-workout">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
													<path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
											</a>
											<a id="delWorkout" value="{{workout.id}}" onclick="deleteWorkout({{workout.id}}); return false" data-bs-toggle="modal" data-bs-target="#centeredModalDanger" >
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline>
													<path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
											</a>
										</td>
									</tr>
									
									{% endfor %}
								{% else %}
									{% for workout in workouts %}
									<tr>
										<td></td>
										<td class="d-none d-xl-table-cell"></td>
										<td class="d-none d-xl-table-cell"></td>
										<td class="d-none d-xl-table-cell"></td>
										<td class="d-none d-md-table-cell"></td>
										<td class="d-none d-md-table-cell"></td>
										<td class="d-none d-md-table-cell"></td>
										<td class="d-none d-md-table-cell"></td>
									</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					
					</div>
				</div>
				<!--Workouts chart-->
				<div class="col-12 col-xl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Average Calories Burned per Minute by Workout</h5>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs">
										<canvas id="chartjs-dashboard-pie"></canvas>
									</div>
								</div>
								<table id="volume-pie" class="table mb-0">
									<thead>
										<tr>
											<th>Workout</th>
											<th class="text-end">Calories/Min</th>
										</tr>
									</thead>
									<tbody>
										{% for sum in sums %}
										<tr>
											<td>{{ sum.saved_workout }}</td>
											<td class="text-end">{{ sum.average_calories }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>

		<div class="modal fade" id="centeredModalDanger" tabindex="-1" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Delete Workout</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body m-3">
						<p class="mb-0">Are you sure you want to delete this workout? This action cannot be undone.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDelete">Save</button>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
			
			function progress(progress) {
				if (progress < 60) {
					return 'bg-danger';
				} else if (progress < 80) {
					return 'bg-warning';
				} else {
					return 'bg-success';
				}
			};

			// Overall progress
			if ({{ macros.calories }} > {{ goals.calories }}) {
				var progressO = 100;
			} else {
				var progressO = {{ macros.calories }} / {{ goals.calories }};
				progressO = Math.round(progressO * 100);
			}
			
			$('.progO').attr('style', 'width: ' + progressO + '%');
			$('.progO').attr('aria-valuenow', progressO);
			$('.remainingO').text({{ goals.calories }} - {{ macros.calories }});
			var x = progress(progressO);
			$('.progO').addClass(x);


			var progressC = {{ macros.carbs}} / {{ goals.carbs }};
			progressC = Math.round(progressC * 100);
			if (progressC < 0) {
				progressC = 100;
			}
			$('.progC').attr('style', 'width: ' + progressC + '%');
			$('.progC').attr('aria-valuenow', progressC);
			$('.remainingC').text({{ goals.carbs }} - {{ macros.carbs }});
			var x = progress(progressC);
			$('.progC').addClass(x);


			var progressP = {{ macros.protein}} / {{ goals.protein }};
			progressP = Math.round(progressP * 100);
			if (progressP < 0) {
				progressP = 100;
			}
			$('.progP').attr('style', 'width: ' + progressP + '%');
			$('.progP').attr('aria-valuenow', progressP);
			$('.remainingP').text({{ goals.protein }} - {{ macros.protein }});
			var y = progress(progressP);
			$('.progP').addClass(y);


			if ({{ macros.fats }} > {{ goals.fats }}) {
				var progressF = 100;
			} else {
				var progressF = {{ macros.fats}} / {{ goals.fats }};
				progressF = Math.round(progressF * 100);
			}
			$('.progF').attr('style', 'width: ' + progressF + '%');
			$('.progF').attr('aria-valuenow', progressF);
			$('.remainingF').text({{ goals.fats }} - {{ macros.fats }});
			var z = progress(progressF);
			$('.progF').addClass(z);

		});
	</script>
	<script>

		function deleteWorkout(id) {
			console.log("Delete workout " + id);
			var id = id;
			document.getElementById("confirmDelete").value = id;
		}

		document.getElementById("confirmDelete").addEventListener('click', function() {
			var id = document.getElementById("confirmDelete").value;
			var obj = $(this);

			$.ajax({
				url: "/",
				type: "POST",
				data:{id: id},
				success: function(data) {
					if (data.Success){
						$(obj).closest("tr").remove();
					};
				}
			})
		});

		document.getElementById("chart-exercises").addEventListener('click', function() {
			document.getElementById("chart-exercises").classList.add("disabled");
			document.getElementById("chart-exercises").classList.remove("btn-primary");
			document.getElementById("chart-exercises").classList.add("btn-outline-primary");

			document.getElementById("chart-weight").classList.remove("disabled");
			document.getElementById("chart-weight").classList.remove("btn-outline-primary");
			document.getElementById("chart-weight").classList.add("btn-primary");
		});

		document.getElementById("chart-weight").addEventListener('click', function() {
			document.getElementById("chart-weight").classList.add("disabled");
			document.getElementById("chart-weight").classList.remove("btn-primary");
			document.getElementById("chart-weight").classList.add("btn-outline-primary");

			document.getElementById("chart-exercises").classList.remove("disabled");
			document.getElementById("chart-exercises").classList.remove("btn-outline-primary");
			document.getElementById("chart-exercises").classList.add("btn-primary");
		});

	</script>
	<script>
		function editWorkout(id) {
			console.log("Edit workout ") + id);
		};
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var table = document.getElementById("volume-pie")
			var tableArr = [];
			var tableLab = [];
			//loop all rows and form data array
			for ( var i = 1; i < table.rows.length; i++) {
				tableArr.push([
					table.rows[i].cells[1].innerHTML,
				]);
			tableLab.push(table.rows[i].cells[0].innerHTML)
			}
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: "pie",
				data: {
					labels: tableLab,
					datasets: [{
						data: tableArr,
						backgroundColor: [
							window.theme.primary,
							window.theme.warning,
							window.theme.danger,
							"#E8EAED"
						],
						borderWidth: 5,
						borderColor: window.theme.white
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					cutoutPercentage: 70,
					legend: {
						display: false
					}
				}
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var labels = [];
			var data = [];
			{% for weight in weights %}
				labels.push({{ weight.log_date }});
				data.push({{ weight.weight }});
			{% endfor %}

			new Chart(document.getElementById("chartjs-line"), {
				type: "line",
				data: {
					labels: labels,
					datasets: [{
						label: "Weight",
						fill: true,
						backgroundColor: "transparent",
						borderColor: window.theme.primary,
						data: data
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.05)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 500
							},
							display: true,
							borderDash: [5, 5],
							gridLines: {
								color: "rgba(0,0,0,0)",
								fontColor: "#fff"
							}
						}]
					}
				}
			});
		});
	
	</script>
{% endblock %}