{% extends 'base.html' %}
{% block title %}Weight{% endblock %}
{% block body %}
	<main class="content">
		<div class="container-fluid p-0">
			<h1 class="h3 mb-3">Log New Weight</h1>
			<div class="row">
				<div class="col-12 col-xl-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Weight Entry</h5>
						</div>
						<div class="card-body">
							<form action="/weight" method="POST">
								<div class="mb-2">
									<label class="form-label">Date</label>
									<input type="date" name="log-date" class="form-control" placeholder="Date">
								</div>
								<div class="mb-2">
									<label class="form-label">Weight (lbs)</label>
									<input type="text" name="weight" class="form-control" placeholder="Weight">
								</div>
								<button class="btn btn-primary" id="submit" name="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
{% block js %}
	<script>
		$(function () {
			var $date = $('#log-date');
			var $weight = $('#weight');
			
			$('#submit').on('click', function() {

				var weight = {
					'log_date': $date.val(),
					'weight': $weight.val(),
				}

				$.ajax({
					type: 'GET',
					url: '#',
					success: function() {
						let notyf = new Notyf({
							duration: 5000,
							dismissible: true,
							ripple: true,
							position: {x: 'right', y: 'top'}
							});
						notyf.success('Weight successfully logged');
					},
					error: function() {
						let notyf = new Notyf({
							duration: 5000,
							dismissible: true,
							ripple: true,
							position: {x: 'right', y: 'top'}
							});
						notyf.error('Error submitting workout');
					}
				});     
			});
		});
	</script
{% endblock %}